.gameGraph {
    margin: 1rem 0;
    background: #2A2A2A;
    border: 1px solid #121212;
}

.modeSelectorList {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #121212;
}

.modeSelector {
    flex-grow: 1;
}