.moveList {
  overflow: auto;
}

.moveList span,
.moveList td {
  color: #a1a1a1;
}

.moveList .moveNumber {
  cursor: default;
}

.moveList .move {
  cursor: pointer;
}

.moveList .move:hover {
  color: #ddd;
}

.moveList .currentMove {
  color: #fff;
}

.moveList .moveTable {
  width: 100%;
}

.moveButtons {
  margin-top: auto;
  display: flex;
  gap: 0.5rem;
}

.moveButtons button {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .moveList {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.25rem;
    overflow: auto;
    max-height: 100%;
  }
}
