:root {
  --standings-width: 28rem;
  --board-size: min(calc(100vh - 12rem), calc(100vw - var(--standings-width)));
}

.app {
  margin: 1rem;
  width: min(calc(100vw - 2rem), calc(var(--board-size) + var(--standings-width) - 1rem));
  height: calc(100vh - 2rem);
  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr calc(var(--standings-width) - 3rem);
  gap: 1rem;
}

.boardWindow {
  max-height: 100%;
}

.board {
  width: var(--board-size);
  height: var(--board-size);
}

.standingsEntry {
  display: grid;
  grid-template-columns: 2rem 1fr 13rem 3rem;
  padding-right: 1px;
}

.standingsScore {
  text-align: right;
  margin-right: 1rem;
}

.engine {
  display: flex;
  align-items: center;
  gap: 8px;
}

.engineName {
  min-width: 60px;
  font-weight: bold;
}

.engineEval {
  min-width: 60px;
}

.engineField {
  min-width: 90px;
  text-align: left;
  white-space: nowrap;
}